body {
    text-align: center;
    font-family: sans-serif;
    counter-reset: list;
}

.wrapper {
    max-width: 300px;
    margin: 0 auto;
}

#list {
    padding: 0;
    text-align: left;
}

.item {
    display: flex;
    border: 1px solid #dadada;
    padding: 5px;
    padding-left: 10px;
    align-items: center;
}

.item:not(:last-of-type) {
    border-bottom: 0;
}

.text {
    flex: 1;
    overflow: hidden;
    margin-right: 5px;
}

.text:before {
    counter-increment: list;
    content: counter(list) ". ";
}

#input,
#button {
    box-sizing: border-box;
    border: 1px solid #dadada;
}

#input {
    flex: 1;
    padding: 6px;
    border-right: 0;
}

#button {
    padding: 8px 10px;
}

.del,
.edit {
    padding: 1px 5px;
}

#form {
    display: flex;
}